*.log
*.pid
*.seed
*.pid.lock
*.tgz
bower_components
node_modules/
jspm_packages/
.npm
lib/
.jar
package-lock.json
generated_*/
hosts
src/external_services/config_indra.json
./src/external_services/config_indra.json
./src/external_services/indra_connector_mqtt.js
